In [ ]:
https://mlbootcamp.ru/round/22/tasks/#26

# Задача "Академия MADE. Отборочное задание"

Внимание! Это отборочное соревнование в Академию Больших Данных MADE. Тем, кто зарегистрировался на набор, оно поможет получить дополнительные баллы.

В соревновании вам предстоит иметь дело с данными, собранными из логов настоящей рекомендательной системы, работающей в продакшене.

Задача

- Вам предстоит спрогнозировать, кликнет ли пользователь на рекомендуемый объект. Целевая переменная записана в поле label обучающей выборки и принимает значения 0 (не кликнул) или 1 (кликнул). В качестве прогнозов от вашей модели нужны вероятности клика пользователя, т.е. прогнозы должны быть дробными числами в интервале от 0 до 1.
Метрика качества качества

- В качестве метрики качества в этом соревновании используется log loss.

Данные

- train.tar.gz - заархивированная обучающая выборка
- test-data.tar.gz - тестовая выборка, содержит 1 317 220 примеров с данными, для которых нужно сделать прогноз
- sample_submission.csv - пример файла с ответами: 1 317 220 дробных чисел в интервале от 0 до 1, по одному на каждой строке

Работа с архивами и большими выборками

- Имейте ввиду, что распакованный архив может быть очень объемным, а вся обучающая выборка вряд ли поместится в оперативную память вашего компьютера. Если для решения контекста вы используете Python, можно считать часть выборки напрямую из train.tar.gz следующим образом:

import pandas
df = pandas.read_csv('train.tar.gz', compression='gzip', header=0, sep=';', quotechar='"', nrows=10)

Аналогичным образом можно работать с другими заархивированными файлами

Работа с признаками

- Некоторые признаки содержат набор категорий, к которым относится рекомендуемый объект, или набор сегментов, к которым относится пользователь. Не удивляйтесь, если в значении признака вы встретили перечисленные через запятую идентификаторы - так и должно быть в этом случае.

Общие рекомендации

- Соревнование не предполагает, что участники хорошо знают машинное обучение. В первую очередь от участников ожидается способность разобраться с нужными им библиотеками и проявлять находчивость в работе с данными. Постарайтесь изучить данные и придумать, как использовать их особенности, чтобы ваша работа не свелась к fit и predict на базовом наборе признаков.

Правила участия

- Соревнование индивидуальное, все решения должны быть получены самостоятельно. Ограничений по использованию open source библиотек нет. Раскрывать детали своего решения категорически запрещается до окончания контеста.

In [1]:
import pandas

In [5]:

df = pandas.read_csv('materials/train.tar.gz', compression='gzip', header=0, sep=';', quotechar='"', nrows=10)

In [ ]:
df = pandas.read_csv('materials/train.tar.gz', compression='gzip', header=0, sep=';', quotechar='"')

In [6]:
df.head(20)

,train.csv,label,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,CG1,CG2,CG3,l1,l2,C11,C12
0,1379278800,0,2733540231,3500392421,4454,15573,11,995,2,176,15,671,"384,382,96,88,185,49,385,268,448,438,279,420,1...",NaN,NaN,32,0,0,106
1,1379278800,0,1964843810,1232327635,2081,2547,11,995,2,361,15,802,"96,49,385,268,107,438,418,124,357,17,435,130,3...",NaN,NaN,1,0,0,106
2,1379278800,0,660357674,2066571765,602,29581,29,995,0,468,15,758,"170,169,205,204,176,252,243,382,98,220,222,181...",NaN,NaN,119,0,0,103
3,1379278800,0,2962648192,2373358995,4018,36969,30,995,2,8,15,67,"273,205,383,382,381,219,216,215,225,49,47,54,3...","28071,6916,9108",NaN,0,0,0,106
4,1379278800,0,1822613420,446973819,2081,23457,35,995,0,452,15,821,"268,419,357,18,331,59,57,99,154,155,76,412,122...",NaN,NaN,5,0,0,106
5,1379278800,0,2230694362,462046911,4781,16144,6,1694,0,390,22,822,"273,184,180,49,54,269,100,270,419,80,83,74,5,3...",NaN,"43845,45509,45500,15529,33701,49513,49517,3834...",3,0,1,105
6,1379278800,0,149405498,2008468818,5454,24226,11,995,0,313,15,821,"273,205,176,247,249,252,384,382,375,93,88,188,...",NaN,NaN,0,0,0,105
7,1379278800,0,1651740157,929846473,5678,4314,10,995,2,419,15,24,"273,170,169,205,173,176,246,213,252,243,380,38...","18587,21441,22177",NaN,26,0,0,104
8,1379278800,0,1207866034,1976462420,3353,4241,88,995,2,177,15,5,"88,215,53,269,417,1,17,239,331,60,57,306,277,9...","14566,12599",NaN,52,0,0,106
9,1379278800,0,2132391877,3482861549,3595,6952,83,995,2,419,15,479,"273,169,205,250,384,95,96,215,185,184,49,47,53...","423,19225,5001",NaN,0,0,0,105